<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="game-card.html">

<polymer-element name="game-board" attributes="cards">
<template>
  <style>
    :host {
      display: block;
      width: 1480px;
    }
    game-card {
      margin: 3px;
    }
  </style>

  <div layout horizontal wrap center >
    <template repeat="{{card in cards}}">
      <game-card horiz="{{card.hor}}" vertic="{{card.ver}}" symbol="{{card.imgclass}}" imgSrc="{{card.name}}" titleText="{{card.name}}" text="{{card.Aktion}}"> 
    </game-card>
  </template>
</div>
</template>
<script>
  StopIteration = function () {};
  StopIteration.prototype = new Error();
  StopIteration.name = 'StopIteration';
  StopIteration.message = 'StopIteration';

  arrayLikeIterator = function (arrayLike) {
      var i = 0;
      return {
          'next': function () {
              if (i >= arrayLike.length) {
                  throw StopIteration;
              }
              return arrayLike[i++];
          }
      };
  };
  function shuffle(o){ 
      for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
      return o;
  };
  Polymer('game-board', {
      // initialize the element's model
      created: function() {
        var initcards =  [
            {name: "Hängebrücke", Aktion: "Mit grossen Dingen kommst du nicht über die Hängebrücke. Lege diese auf ihr Feld zurück.", warn:"Edelstein", bgc: "gelb" },
            {name: "Hängebrücke", Aktion: "Mit grossen Dingen kommst du nicht über die Hängebrücke. Lege diese auf ihr Feld zurück.", warn:"Edelstein", bgc: "gelb" },
            {name: "Hängebrücke", Aktion: "Mit grossen Dingen kommst du nicht über die Hängebrücke. Lege diese auf ihr Feld zurück.", warn:"Edelstein", bgc: "gelb" },
            {name: "Hängebrücke", Aktion: "Mit grossen Dingen kommst du nicht über die Hängebrücke. Lege diese auf ihr Feld zurück.", warn:"Edelstein", bgc: "gelb" },
            {name: "Schlange", Aktion: "Bei jedem Betreten wirst du gebissen. 1 Gegengift abgeben, sonst stirbst du.", warn:"Gegengift",hor: "true"},
            {name: "Schlange", Aktion: "Bei jedem Betreten wirst du gebissen. 1 Gegengift abgeben, sonst stirbst du.", warn:"Gegengift",ver: "true"},
            {name: "Schlange", Aktion: "Bei jedem Betreten wirst du gebissen. 1 Gegengift abgeben, sonst stirbst du.", warn:"Gegengift"},
            {name: "Schlange", Aktion: "Bei jedem Betreten wirst du gebissen. 1 Gegengift abgeben, sonst stirbst du.", warn:"Gegengift"},
            {name: "Kannibale", Aktion: "Die Kannibalen verfolgen dich. Du hast das Idol oder 1 Gegenstand abgeben, sonst stirbst du.", warn:"Edelstein"},
            {name: "Kannibale", Aktion: "Die Kannibalen verfolgen dich. Du hast das Idol oder 1 Gegenstand abgeben, sonst stirbst du.", warn:"Edelstein"},
            {name: "Kannibale", Aktion: "Die Kannibalen verfolgen dich. Du hast das Idol oder 1 Gegenstand abgeben, sonst stirbst du.", warn:"Edelstein"},
            {name: "Kannibale", Aktion: "Die Kannibalen verfolgen dich. Du hast das Idol oder 1 Gegenstand abgeben, sonst stirbst du.", warn:"Edelstein"},
            {name: "Boot", Aktion: "Bring das Boot zum Fluss, um das Abenteuer beenden zu können.", hor: true, imgclass:"symbol"},
            {name: "Tagebuch", Aktion: "Das Tagebuch enthält Aufzeichnungen. Lege eine offene Karte zurück in den Stapel und mische diesen.",ver: "true", imgclass:"symbol"},
            {name: "Kannibale", Aktion: "Die Kannibalen verfolgen dich. 1 Gegenstand abgeben, sonst stirbst du.", warn:"Edelstein", pagebreak: "pagebreak"},
            {name: "Rucksack", Aktion: "Mit dem Rucksack kannst du 3 Dinge mehr tragen.",ver: "true", imgclass:"symbol"},
            {name: "Pistole", Aktion: "Die Pistole ist alt und hat keine Munition.",hor: "true",ver: "true", imgclass:"symbol", bgc: "gelb"},
            {name: "Gegengift", Aktion: "heilt einen Schlangenbiss.",hor: "true", imgclass:"symbol"},
            {name: "Gegengift", Aktion: "heilt einen Schlangenbiss.",ver: "true", imgclass:"symbol"},
            {name: "Machete", Aktion: "Die Machete kann eine Dschungelwand öffnen. Lege die Machete auf die Wand.",ver: "true", imgclass:"symbol"},
            {name: "Machete", Aktion: "Die Machete kann eine Dschungelwand öffnen. Lege die Machete auf die Wand.",hor: "true",ver: "true", imgclass:"symbol"},
            {name: "Machete", Aktion: "Die Machete kann eine Dschungelwand öffnen. Lege die Machete auf die Wand.",hor: "true", imgclass:"symbol"},
            {name: "Liane", Aktion: "Mit der Liane kann man einmal ein Feld und alle Wände überspringen.",ver: "true", imgclass:"symbol"},
            {name: "Liane", Aktion: "Mit der Liane kann man einmal ein Feld und alle Wände überspringen.",hor: "true",ver: "true", imgclass:"symbol"},
            {name: "Höhle", Aktion: "Nur mit der Fackel kann man durch die Höhle direkt zu anderen Höhlen gehen.",ver: "true", warn:"Fackel" , bgc:"blue"},
            {name: "Höhle", Aktion: "Nur mit der Fackel kann man durch die Höhle direkt zu anderen Höhlen gehen.",ver: "true", warn:"Fackel" , bgc:"blue"},
            {name: "Höhle", Aktion: "Nur mit der Fackel kann man durch die Höhle direkt zu anderen Höhlen gehen.",hor: "true", warn:"Fackel" , bgc:"blue"},
            {name: "Idol", Aktion: "Mit dem Idol kannst du die Kannibalen verjagen und an Ihnen vorbeilaufen.",hor: "true", imgclass:"symbol"},
            {name: "Voodoopuppe", Aktion: "Die verlorene Voodoopuppe der Kannibalen.",ver: "true", imgclass:"symbol"},
            {name: "Tempel", Aktion: "Der verschollene Tempel.",hor: "true", bgc:"green"},
            {name: "Fackel", Aktion: "Mit der Fackel kann man durch die Höhlen gehen oder eine Schlange töten.(Lege die Fackel dazu verdeckt auf die Schlange.)",ver: "true", imgclass:"symbol", pagebreak: "pagebreak"},
            {name: "Liane", Aktion: "Mit der Liane kann man einmal ein Feld und alle Wände überspringen.",hor: "true", imgclass:"symbol"},
            {name: "Weg", Aktion: "",hor: "true"},
            {name: "Fluss", color : "H", Aktion: "Lege beliebige Dinge hier ab. Wenn die anderen Ecken erfüllt sind, kannst du das Abenteuer mit dem Boot erfolgreich beenden.", warn:"Boot", bgc:"blue"},
            {name: "Weg", Aktion: "",hor: "true"},
            {name: "Weg", Aktion: "",hor: "true", pagebreak: "pagebreak"},
            {name: "Weg", Aktion: ""},
            {name: "Weg", Aktion: "",hor: "true"},
            {name: "Weg", Aktion: "",ver: "true"},
            {name: "Weg", Aktion: "",ver: "true"},
            {name: "Weg", Aktion: "",ver: "true"},
            {name: "Weg", Aktion: "",ver: "true"},
            {name: "Weg", Aktion: "",ver: "true"},
            {name: "Weg", Aktion: "",ver: "true"},
            {name: "Weg", Aktion: "",hor: "true"}
            ];
            
            var initActions = [{name: "Hieroglyphen", Aktion: "Jane kann die Hieroglyphen entziffenn und den versteckten Eingang zum Tempel finden. Dort findest du die Schriftrolle.",warn:"Jane2", bgc:"blue", win:"Schriftrolle", bgcwin:"green", task: true},
            {name: "Jäger", Aktion: "Der Jäger klaut dir zwei Dinge (deiner Wahl) und bringt sie zum Tempel. Mit der Pistole kannst du das verhindern.",warn:"Pistole", bgc:"orange", win:"Fluss", bgcwin:"blue",task: true},
            {name: "Tarzan", Aktion: "Jane verliebt sich in Tarzan und bleibt bei ihm. Am Ende fährt sie mit dir über den Fluss zurück.",win:"Fluss", bgcwin:"blue", warn:"Jane2", bgc:"orange", task: true},
            {name: "Elfenbein", Aktion: "Im Elefantenfriedhof findest du Elfenbein. Für den Zugang benötigst du die Machete.",warn:"Machete", win:"Elfenbein", bgcwin:"green", imgclass:"symbol", task: true},
            {name: "Treibsand", Aktion: "Dein Partner fällt in den Treibsand. Du kannst ihn nur mit einer Liane retten. Bis dahin kannst du keine anderen Dinge nehmen.", warn:"Liane", bgcwin:"green" , bgc:"blue", task: true},
            {name: "Diamantenmine", color : "H",Aktion: "Du findest in der dunklen Mine grosse Diamenten. Bein Herausholen verlierst du die Fackel.", warn:"Fackel", win:"Diamantenmine", bgcwin:"green", imgclass:"symbol", task: true},
            {name: "Lager", color : "H",Aktion: "Du findest ein verlassenes Lager. Du kannst bis zu 2 leere Dingfelder aus dem Vorrat wieder auffüllen.", warn:"Edelstein", bgc:"green", win:"Edelstein", bgcwin:"green", task: true},
            {name: "Karte", color : "H",Aktion: "Du findest eine Karte des Dschungels. Ab sofort kannst du Karten auch diagonal anlegen.", task: true},
            {name: "Sturm", color : "H",Aktion: "Ein Sturm zieht durch den Dschungel. Alle verwendeten Macheten kommen auf Machetenfelder zurück.", task: true},
            {name: "Tierfalle", color : "H",Aktion: "Dein Bein verletzt sich in einer Tierfalle. Du kommst schlechter vorwärts.", task: true, fuss: "-1"},
            {name: "Kannibalendorf", color : "H",Aktion: "Jane wird von den Kannibalen gefangengenommen. Mit der Voodoopuppe kannst du Jane befreien.", warn:"Voodoopuppe", win:"Jane2", bgcwin:"green", task: true}
            ];

            
            var start = {name: "Start", color : "H", Aktion: "Ihr seid mit dem Flugzeug abgestürzt. Löse die Rätsel des Dschungels und bring dich und Jane hier raus."};
            var actions = shuffle(initActions);
            this.cards = shuffle(initcards);
            var actionIter = arrayLikeIterator(actions);
            this.cards.splice(0, 0, actionIter.next());
            this.cards.splice(6, 0, actionIter.next());
            this.cards.splice(24, 0, start);
            this.cards.splice(42, 0, actionIter.next());
            this.cards.splice(48, 0, actionIter.next());
      }
});
</script>

</polymer-element>