<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/core-icon/core-icon.html">
<link rel="import" href="../lib/paper-ripple/paper-ripple.html">
<link rel="import" href="../lib/core-drag-drop/core-drag-drop.html">
<polymer-element name="game-piece" attributes="img"  >
<template>
	<style>
		:host {
			position: absolute;
			width: 112px;
			height: 112px;
			top: 40px;
			left: 20px;
			border-radius: 50%;
			color: #fff;
			overflow: hidden;
			transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
			transition-delay: 0.2s;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
			cursor: move;
			border: 3px solid green;
			background-color: white;
			z-index: 2000;
		}
		img {
		}
	</style>
	<core-drag-drop></core-drag-drop> 
	<div name="piece" class="fab green" draggable="true" on-click="{{clicker}}">
		<img src="{{img}}">	
	</div>
</template>
<script>
	function drop(dragInfo) {
		var color = dragInfo.avatar.style.borderColor;
		var dropTarget = dragInfo.event.relatedTarget;
		var f = dragInfo.framed;
		var d = dragInfo.avatar.children[0];
		d.style.left = f.x  + 'px';
		d.style.top = f.y + 'px';
		d.style.position = "absolute";
		var card = findParentNode("GAME-CARD", dropTarget);
		if (card != 'undefined' && card.selected == 1)
			card.appendChild(d);
		else  {
			d.style.left = f.pageX  + 'px';
			d.style.top = f.pageY + 'px';
			document.body.appendChild(d);
		}
	}
	function findParentNode(tagName, childObj) {
		var testObj = childObj.parentNode;
		while(testObj.tagName != tagName) {
			testObj = testObj.parentNode;
			if (testObj == null)
				return document.body;
		}
		return testObj;
	}
	Polymer("game-piece", {	

		clicker: function(ev) {
			ev.preventDefault();
			ev.stopPropagation(); 
			return false; 
		},
		ready: function() {
			console.log("game-piece ready ");
			this.addEventListener('drag-start', function(e) {
				var dragInfo = e.detail;
				var d = this;
				d.style.left = '0px';
				d.style.top = '0px';
				e.detail.avatar.appendChild(d);
				dragInfo.drag = function() {};
				dragInfo.drop = drop;
			});
		}
	});
</script>
</polymer-element>