<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/core-pages/core-pages.html">
<link rel="import" href="../lib/paper-ripple/paper-ripple.html">
<link rel="import" href="../lib/paper-shadow/paper-shadow.html">
<link rel="import" href="../lib/core-drag-drop/core-drag-drop.html">
<polymer-element name="game-card" attributes="selected">
<template>
	<style>
		:host {
			display: block;
			position: relative;
			background-color: white;
			padding: 20px;
			margin: 5px;
			width: 200px;
			height: 300px;
			font-size: 1em;
			font-weight: 300;
		}
		.card-header {
			margin: 3px;
			background-color: yellow;
		}
		polyfill-next-selector { content: '.card-header h2'; }
		.card-header ::content h2 {
			margin: 0;
			font-size: 1.8rem;
			font-weight: 300;
		}
		polyfill-next-selector { content: '.card-header img'; }
		.card-header ::content img {
			width: 70px;
			border-radius: 50%;
			margin: 10px;
		}
	</style>
	<core-pages id="card" on-click="{{toggle}}" >
	<div><img src="../img/back.png" style="width: 200px; height: 300px"></div>
		<div class="card-header" >
			<div layout horizontal center>
			<content select="img"></content>
			<content select="h2"></content>
			</div>
			<content></content>
		</div>
	</core-pages>
	<paper-shadow z="2"></paper-shadow>
</template>
</template>
<script>
	Polymer("game-card", {
		selected: "0",
		toggle: function() {
			var card = this.$.card;
			card.selected = (card.selected + 1) % 2;
		}
	});
</script>
</polymer-element>