<link rel="import" href="../lib/polymer/polymer.html">
<polymer-element name="mommel-print">
  <template>
    <style>
      :host {
        display: block;
      }

      .Familie {
        color: green;
      }

      .Erwachsene {
        color: red;
      }

      .header {
        font-size: 50%;
      }

      .card {
        height: 90px;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        background-color: white;
        border: 1px solid black;
        padding: 20px 10px 0 10px;
        margin: 1px;
        text-align: center;
        vertical-align: middle;
        box-shadow: 3px;
      }
    </style>
    <div horizontal layout wrap style="width: 1000px">
    <template repeat="{{cat in categories}}">
      <div  class="card {{cat.type}}" layout vertical center>
        <div class="header">{{cat.type}}</div>
        <div >{{cat.name}}</div>
      </div>
    </template>
    </div>
  </template>
  <script>
    Polymer('mommel-print', {
  categories: [
{"name":"etwas riesig Großes", "type":"Familie"},
{"name":"etwas winzig Kleines", "type":"Familie"},
{"name":"Name einer guten Fee", "type":"Familie"},
{"name":"Dorf in Oberbayern", "type":"Familie"},
{"name":"Zwerg bei Schneewittchen", "type":"Familie"},
{"name":"Comicfigur", "type":"Familie"},
{"name":"Superheld", "type":"Familie"},
{"name":"Spielzeug", "type":"Familie"},
{"name":"Kuscheltier", "type":"Familie"},
{"name":"kleines Nagetier", "type":"Familie"},
{"name":"australisches Beuteltier", "type":"Familie"},
{"name":"Katzenrasse", "type":"Familie"},
{"name":"Fernsehzeitung", "type":"Familie"},
{"name":"abstraktes Brettspiel", "type":"Familie"},
{"name":"Babynahrung", "type":"Familie"},
{"name":"chinesische Großstadt", "type":"Familie"},
{"name":"giftiger Pilz", "type":"Familie"},
{"name":"Edelsteinsorte", "type":"Familie"},
{"name":"Jugendwort für ‚doof‘", "type":"Familie"},
{"name":"anderes Wort für ‚Quatsch‘", "type":"Familie"},
{"name":"neue Eissorte", "type":"Familie"},
{"name":"Pizza-Name", "type":"Familie"},
{"name":"Teesorte", "type":"Familie"},
{"name":"Schokoriegel", "type":"Familie"},
{"name":"Müsli-Zutat", "type":"Familie"},
{"name":"salzige Knabberei", "type":"Familie"},
{"name":"neue Puddingsorte", "type":"Familie"},
{"name":"Hundefutter", "type":"Familie"},
{"name":"Shampoo-Marke", "type":"Familie"},
{"name":"französischer Weichkäse", "type":"Familie"},
{"name":"Schminkutensil", "type":"Familie"},
{"name":"Zahnpasta", "type":"Familie"},
{"name":"Teil einer Videokamera", "type":"Familie"},
{"name":"tropische Frucht", "type":"Familie"},
{"name":"physikalische Maßeinheit", "type":"Familie"},
{"name":"etwas Aufblasbares", "type":"Familie"},
{"name":"Singvogel", "type":"Familie"},
{"name":"Tierlaut", "type":"Familie"},
{"name":"gefährliches Monster", "type":"Familie"},
{"name":"duftende Blume", "type":"Familie"},
{"name":"Getreidesorte", "type":"Familie"},
{"name":"Singvogel", "type":"Familie"},
{"name":"Boy-Band", "type":"Familie"},
{"name":"anderes Wort für ‚arm‘", "type":"Familie"},
{"name":"anderes Wort für ‚klug‘", "type":"Familie"},
{"name":"Charakter aus ‚Star Wars‘", "type":"Familie"},
{"name":"südamerikanisches Insekt", "type":"Normal"},
{"name":"südlichster Ort der Erde", "type":"Normal"},
{"name":"nördlichster Ort der Erde", "type":"Normal"},
{"name":"witzigstes Wortspiel aller Zeiten", "type":"Normal"},
{"name":"germanische Gottheit", "type":"Normal"},
{"name":"Berg in den Dolomiten", "type":"Normal"},
{"name":"Skiort in den Alpen", "type":"Normal"},
{"name":"amerikanisches Fertiggericht", "type":"Normal"},
{"name":"spanische Provinz", "type":"Normal"},
{"name":"spanischer Maler", "type":"Normal"},
{"name":"nordamerikanischer Indianerstamm", "type":"Normal"},
{"name":"südamerikanisches Insekt", "type":"Normal"},
{"name":"brasilianischer Indiostamm", "type":"Normal"},
{"name":"Stamm in Zentralafrika", "type":"Normal"},
{"name":"arabischer Morgengruß", "type":"Normal"},
{"name":"polnische Beleidigung", "type":"Normal"},
{"name":"österreichische Mehlspeise", "type":"Normal"},
{"name":"indonesisches Wort für ‚Reis‘", "type":"Normal"},
{"name":"französische Weinsorte", "type":"Normal"},
{"name":"scharfes ungarisches Fleischgericht", "type":"Normal"},
{"name":"türkische Vorspeise", "type":"Normal"},
{"name":"indisches Hauptgericht", "type":"Normal"},
{"name":"südafrikanisches Gemüse", "type":"Normal"},
{"name":"tunesisches Nationalgericht", "type":"Normal"},
{"name":"orientalisches Gewürz", "type":"Normal"},
{"name":"Südsee-Insel", "type":"Normal"},
{"name":"vegetarischer Burger", "type":"Normal"},
{"name":"chinesisches Wort für „Hund“", "type":"Normal"},
{"name":"berühmtes Tier aus Film und Fernsehen", "type":"Normal"},
{"name":"Befehl beim Hundeschlittenrennen", "type":"Normal"},
{"name":"Rufname eines Kampfhundes", "type":"Normal"},
{"name":"Schmetterlingsart", "type":"Normal"},
{"name":"Begriff aus der Seemannssprache", "type":"Normal"},
{"name":"Begriff aus der Jägersprache", "type":"Normal"},
{"name":"landwirtschaftliches Gerät", "type":"Normal"},
{"name":"TV-Quiz", "type":"Normal"},
{"name":"moderner Musikstil", "type":"Normal"},
{"name":"Heavy-Metal-Band", "type":"Normal"},
{"name":"Programmiersprache", "type":"Normal"},
{"name":"etwas typisch Schwarzes", "type":"Normal"},
{"name":"etwas typisch Weißes", "type":"Normal"},
{"name":"seltene Gesteinsart", "type":"Normal"},
{"name":"Putzmittel", "type":"Normal"},
{"name":"ungezogenes Kind", "type":"Normal"},
{"name":"Nachfolgewährung des Euro", "type":"Normal"},
{"name":"Tiefseebewohner", "type":"Normal"},
{"name":"Gestalt aus der griechischen Mythologie", "type":"Normal"},
{"name":"neuartiges Flugzeug", "type":"Normal"},
{"name":"Mein linker Sitznachbar ist ein …", "type":"Normal"},
{"name":"Mein rechter Sitznachbar ist ein …", "type":"Normal"},
{"name":"Titel eines Actionfilmes", "type":"Normal"},
{"name":"Titel eines Science-Fiction-Filmes", "type":"Normal"},
{"name":"außerirdisches Volk", "type":"Normal"},
{"name":"das achte Weltwunder", "type":"Normal"},
{"name":"neu entdeckter Planet", "type":"Normal"},
{"name":"ägyptischer Pharao", "type":"Normal"},
{"name":"Schuhmarke", "type":"Normal"},
{"name":"Frauenzeitschrift", "type":"Normal"},
{"name":"Label für Mädchen-Mode", "type":"Normal"},
{"name":"Marke für Babykleidung", "type":"Normal"},
{"name":"Marke für Babywindeln", "type":"Normal"},
{"name":"etwas aus Gummi", "type":"Normal"},
{"name":"italienisches Schimpfwort", "type":"Normal"},
{"name":"Tanzstil", "type":"Normal"},
{"name":"edles Parfüm", "type":"Normal"},
{"name":"Luxushotel", "type":"Normal"},
{"name":"etwas sehr Teures", "type":"Normal"},
{"name":"Gerät im Fitness-Studio", "type":"Normal"},
{"name":"‚Ruhe!‘ auf isländisch", "type":"Normal"},
{"name":"‚Prost!‘ auf bulgarisch", "type":"Normal"},
{"name":"‚Schnee‘ in der Inuit-Sprache", "type":"Normal"},
{"name":"indische Göttin", "type":"Normal"},
{"name":"römischer Kaiser", "type":"Normal"},
{"name":"seltene Tierart auf Galapagos", "type":"Normal"},
{"name":"finnischer Skisportler", "type":"Normal"},
{"name":"klassischer Komponist", "type":"Normal"},
{"name":"norwegisches Fischgericht", "type":"Normal"},
{"name":"sibirischer Ort", "type":"Normal"},
{"name":"Ort in Alaska", "type":"Normal"},
{"name":"König von Thailand", "type":"Normal"},
{"name":"japanische Insel", "type":"Normal"},
{"name":"Kaffeesorte aus Mittelamerika", "type":"Normal"},
{"name":"persischer Herrscher", "type":"Normal"},
{"name":"neuartiges Baumaterial", "type":"Normal"},
{"name":"die 11. Disziplin beim Zehnkampf", "type":"Normal"},
{"name":"James-Bond-Bösewicht ", "type":"Normal"},
{"name":"Figur aus „Herr der Ringe“", "type":"Normal"},
{"name":"Westernheld", "type":"Normal"},
{"name":"künstliches Süßungsmittel", "type":"Normal"},
{"name":"stachelige Wüstenpflanze", "type":"Normal"},
{"name":"Vulkan auf einer Karibikinsel", "type":"Normal"},
{"name":"Eintopf-Zutat", "type":"Normal"},
{"name":"„Depp!“ auf pakistanisch", "type":"Normal"},
{"name":"Trendsportart", "type":"Normal"},
{"name":"Outdoor-Marke", "type":"Normal"},
{"name":"anderes Wort für „Weltuntergang“", "type":"Normal"},
{"name":"amerikanischer Großkonzern", "type":"Normal"},
{"name":"militärischer Befehl", "type":"Normal"},
{"name":"Volksmusikgruppe aus dem Zillertal", "type":"Normal"},
{"name":"Ungeziefer", "type":"Normal"},
{"name":"Kondom-Marke", "type":"Erwachsene"},
{"name":"anderes Wort für „Teufel“", "type":"Erwachsene"},
{"name":"abfälliger Ausdruck für „Politiker“", "type":"Erwachsene"},
{"name":"latein. Name für den Gesäßmuskel", "type":"Erwachsene"},
{"name":"mittelalterliches Folterinstrument", "type":"Erwachsene"},
{"name":"Kneipe auf der Reeperbahn", "type":"Erwachsene"},
{"name":"Was einen Mann glücklich macht", "type":"Erwachsene"},
{"name":"Was eine Frau glücklich macht", "type":"Erwachsene"},
{"name":"Männermagazin", "type":"Erwachsene"},
{"name":"abfälliger Ausdruck für „Polizist“", "type":"Erwachsene"},
{"name":"abfälliger Ausdruck für eine Frau", "type":"Erwachsene"},
{"name":"abfälliger Ausdruck für einen Mann", "type":"Erwachsene"},
{"name":"Gerät beim Urologen", "type":"Erwachsene"},
{"name":"sexy Damenunterwäsche", "type":"Erwachsene"},
{"name":"religiöser Fanatiker", "type":"Erwachsene"},
{"name":"natürliches Verhütungsmittel", "type":"Erwachsene"},
{"name":"Kosewort für „Busen“", "type":"Erwachsene"},
{"name":"Name einer Motorrad-Gang", "type":"Erwachsene"},
{"name":"anderes Wort für „motzen“", "type":"Erwachsene"},
{"name":"anderes Wort für „Techtelmechtel“", "type":"Erwachsene"},
{"name":"Kosename für den/die Liebste/n", "type":"Erwachsene"},
{"name":"anderes Wort für „rülpsen“", "type":"Erwachsene"},
{"name":"anderes Wort für „Nasenpopel“", "type":"Erwachsene"},
{"name":"anderes Wort für „pupsen“", "type":"Erwachsene"},
{"name":"anderes Wort für „Fußpilz“", "type":"Erwachsene"},
{"name":"Künstlername einer Erotikdarstellerin", "type":"Erwachsene"},
{"name":"Künstlername eines Erotikdarstellers", "type":"Erwachsene"},
{"name":"Beschäftigte/r einer Recycling-Firma ", "type":"Erwachsene"},
{"name":"Name einer Domina", "type":"Erwachsene"},
{"name":"Im Dunkeln ist gut …", "type":"Erwachsene"},
{"name":"WC-Reiniger", "type":"Erwachsene"},
{"name":"Toilettenpapier-Marke", "type":"Erwachsene"},
{"name":"macht Flecken", "type":"Erwachsene"},
{"name":"macht Flecken weg", "type":"Erwachsene"},
{"name":"Energydrink", "type":"Erwachsene"},
{"name":"Antidepressivum", "type":"Erwachsene"},
{"name":"synthetische Partydroge", "type":"Erwachsene"},
{"name":"brasilianische Telenovela", "type":"Erwachsene"},
{"name":"Abführmittel", "type":"Erwachsene"},
{"name":"Zigarettenmarke", "type":"Erwachsene"},
{"name":"Mittel gegen Durchfall", "type":"Erwachsene"},
{"name":"Geisteskrankheit", "type":"Erwachsene"},
{"name":"Atemwegserkrankung", "type":"Erwachsene"},
{"name":"neu entdecktes Bakterium", "type":"Erwachsene"},
{"name":"etwas Übelkeit Erregendes", "type":"Erwachsene"},
{"name":"Flirt-App", "type":"Erwachsene"},
{"name":"Mittel gegen Lustlosigkeit", "type":"Erwachsene"},
{"name":"italienischer Liebesschwur", "type":"Erwachsene"},
{"name":"hochprozentiger Cocktail", "type":"Erwachsene"}
]});
  </script>
</polymer-element>